$main-color: #e1baec;

.box {
  position: relative;
  margin: 0 0 0 5px;
  object-fit: cover;

  .bubbly-button {
    position: absolute;
    top: -4px;
    font-size: 25px;
    display: inline-block;
    -webkit-appearance: none;
    appearance: none;
    color: $main-color;
    cursor: pointer;
  }
}
.change {
  color: #ff0081 !important;
}
